<div class="container">
    <h2>Selecione as publicações</h2>
    <div class = "media-list">
      <% @medias.each do |media| %>
          <%= render partial: "media_card", locals: {media: media} %>
      <% end  %>
    </div>
</div>
