
  <div class="container">
      <div class = "media-list">
        <% @medias.each do |media| %>
          <div class ="">
            <%= render partial: "media_card", locals: {media: media} %>
          </div>
        <% end  %>
    </div>
  </div>
