<div data-controller="media-list">

    <div class="d-flex justify-content-between align-items-center my-3">
      <h2>Selecione as publicações</h2>
      <div class="btn btn-primary" data-action="click->media-list#createList">
        Adicionar postagens
      </div>
    </div>

    <div class="media-list" data-media-list-target="list">
      <% @medias.each do |media| %>
          <%= render partial: "media_card", locals: {media: media} %>
      <% end  %>
    </div>

</div>
