<div class="media-card" data-controller="hello" data-action="click->hello#select"
  <%= image_url = (media["media_type"] == "IMAGE") ? media["media_url"] : media["thumbnail_url"] %>
  style="background-image:url(<%= image_url %>)">
</div>
