<div class="container after-navbar" data-controller="media-list">
  <h3 class="titulo-criar">crie uma lista</h3>
  <div id="#list-name-input">
    <h4 class="titulo2-criar">como vai se chamar essa nova lista?</h4>
    <%= simple_form_for @list do |f| %>
        <%= f.input :name,
                    input_html: {data: {media_list_target: "input"}},
                    label_html: {hidden: true} %>
    <% end %>
  </div>
  <div id="medias-selector-input">
    <div class="d-flex justify-content-between align-items-center my-3">
      <h4 class="titulo3-criar">selecione as suas publicações do <i>Instagram</i></h4>
    </div>

    <div class="container fixed-bottom">
      <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
          <div class="general-button disabled" data-action="click->media-list#createList" data-media-list-target="add">
            Adicionar
          </div>
        </div>
      </div>
    </div>

    <div class="media-list" data-media-list-target="list" data-next=<%=@next_url%>>
      <% @medias.each do |media| %>
          <%= render partial: "shared/media_card", locals: {media: media, selected: false} %>
      <% end %>
    </div>
  </div>

</div>
