.general-button {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  font-size: 18pt;
  background: linear-gradient(45deg, #ff5252, #ff4081);
  transition: background 0.3s ease;
  text-decoration: none;
}

.general-button:hover {
  background: linear-gradient(45deg, #ff4081, #58434a);
  transition: background 0.3s ease;;
  color: white;
}

.general-button.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.buttons-box{
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen
  and (min-device-width: 280px)
  and (max-device-width: 812px) {

    .general-button{
      font-size: 14pt;
    }

    .buttons-box{
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .buttons-box2{
      display: flex;
      flex-direction: column;

      .general-button {
        font-size: 9pt;
        margin-top: 12px;
      }
    }
  }
