.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.117);
  background-color: #f4f4f4;
  position: relative;

  .fa-heart {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 55px;
    height: 55px;
    object-fit: cover;
  }

}
