.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.144);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(0, 0, 0, 0.144);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;

}
.footer-links a:hover {

  .github-icon {
    color: black;
  }
  .instagram-icon {
    color: #ff4081;
  }
  .facebook-icon:hover {
    color: #1877F2;
  }
  .twitter-icon:hover {
    color: #1DA1F2;
  }
  .linkedin-icon:hover {
    color: #0077B5;
  }
}

.footer-copyright{

  img {
    opacity: 0.5;
    height: 20px;
    width: auto;
  }
}

@media only screen
  and (min-device-width: 280px)
  and (max-device-width: 812px) {

    .footer {
      display: inline;

      .footer-links{
        justify-content: center;
      }

      .footer-copyright{
        text-align: center;
      }
    }
}
