.media-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  place-items: center;
  flex-grow: 1;
}

.media-card {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.media-selected {
  filter: brightness(0.7);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .media-list {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
