.media-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 1px;
  background-color: black;
}

.media-card {
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 100%;
}

.media-selected {
  filter: brightness(0.7);
}

.top-left {
  position: absolute;
  top: 20px;
  right: 10px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .media-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
